name: Testing codegen

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Check Java Version
        run: java --version
      
      - name: use jar to generate api code from yml file
        run: java -jar codegen/swagger-codegen-cli.jar generate -i codegen/swagger.yml -l javascript -o codegen/
